# Ignore virtual environments
propnav/
env/
venv/

# Ignore logs
logs/
*.log

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore large dataset files
data/
*.csv
*.xlsx
*.parquet


